## Title : Cluster Analysis on Indian companies.

#### Import Packages

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import re
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from scipy.cluster.hierarchy import dendrogram, linkage

#### 1. Web Scraping:

The data has been scraped from a website called "ambition box". The website has information about all the companies present in India, and we tried scraping majority of them. The link to the website is:
url = 'https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav'

In [ ]:
'''final = pd.DataFrame()
for j in range(1, 501):
    # The link of company which is being scraped
    url = 'https://www.ambitionbox.com/list-of-companies?page={}' .format(j)
    # user agent 
    headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36'}
    webpage=requests.get(url, headers = headers).text
    soup=BeautifulSoup(webpage,'lxml')
    company = soup.find_all('div', class_ = 'companyCardWrapper')
    
    name = []
    ratings = []
    combined = []
    company_type = []
    employee_count = []
    ownership_status = []
    company_age = []
    headquarters = []
    reviews = []
    salaries = []
    interviews=[]
    jobs = []
    benefits = []


    for i in company:
            # Scraping the name of the company
            name.append(i.find('h2').text.strip())

            # Scraping the ratings of the company
            ratings.append(i.find('span', class_='companyCardWrapper__companyRatingValue').text.strip())

            # Scraping Reviews, salaries, Interviews, Jobs and Benefits

            # Find the div element containing the anchor tags
            div_element = i.find('div', class_='companyCardWrapper__tertiaryInformation')

            # Check if the div element exists
            if div_element:
                # Find all anchor tags within the div
                anchor_tags = div_element.find_all('a', class_='companyCardWrapper__ActionWrapper')

                for anchor_tag in anchor_tags:
                    # Find the span tag within each anchor tag with class companyCardWrapper__ActionCount
                    span_tag = anchor_tag.find('span', class_='companyCardWrapper__ActionCount')

                    if span_tag:
                        # Extract and append the text content to the appropriate list
                        text_content = span_tag.text
                        if "Salaries" in anchor_tag.text:
                            salaries.append(text_content)
                        elif "Reviews" in anchor_tag.text:
                            reviews.append(text_content)
                        elif "Jobs" in anchor_tag.text:
                            jobs.append(text_content)
                        elif "Interviews" in anchor_tag.text:
                            interviews.append(text_content)
                        elif "Benefits" in anchor_tag.text:
                            benefits.append(text_content)

                    else:

                         print("Span tag not found within the anchor tag.")

            # Scraping company_type, employee_count, ownership_status, company_age and headquarters                  
            combined.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip())


    company_type_pattern = r'^([^\d]*)\|'  
    #company_type_pattern = r'^((?!Public|Forbes Global 2000|Indian Unicorn|Conglomerate|Fortune India 500|Startup|Central|State|MNC)[^\d]*)\|'
    employees_count_pattern = r'(\d+.*? Employees)'
    ownership_pattern = r" \| (Public|Forbes Global 2000|Indian Unicorn|Conglomerate|Fortune India 500|Startup|Central|State|MNC) \|"
    age_pattern = r'(\d+ years old)'
    location_pattern = r"\d+ years old \| (.*?) \+"

    for entry in combined:
        company_match = re.search(company_type_pattern, entry)
        employees_match = re.search(employees_count_pattern, entry)
        ownership_match = re.search(ownership_pattern, entry)
        age_match = re.search(age_pattern, entry)
        location_match = re.search(location_pattern, entry)
        try:

            if company_match:
                company_type.append(company_match.group(1).strip())
            else:
                company_type.append('N/A')

            if employees_match:
                employee_count.append(employees_match.group(1).strip())
            else:
                employee_count.append('N/A')

            if ownership_match:
                ownership_status.append(ownership_match.group(1).strip())
            else:
                ownership_status.append('N/A')

            if age_match:
                company_age.append(age_match.group(1).strip())
            else:
                company_age.append('N/A')

            if location_match:
                headquarters.append(location_match.group(1).strip())
            else:
                headquarters.append('N/A')

        except AttributeError:
             # Handle cases where there's an AttributeError
            company_type.append('N/A')
            employee_count.append('N/A')
            ownership_status.append('N/A')
            company_age.append('N/A')
            headquarters.append('N/A')   
        
    
    df=pd.DataFrame({'name':name,
    'rating':ratings,
    'company_type': company_type,
    'employee_count' : employee_count,
    'ownership_status': ownership_status,
    'company_age': company_age,
    'head_quarters':headquarters,
    'reviews' : reviews,
    'salaries': salaries,
    'interviews':interviews,
    'jobs': jobs,
    'benefits': benefits,
                })
    
    final = final.append(df, ignore_index = True)'''

In [ ]:
final.head(27)

#### Put the data into a csv

In [ ]:
final.to_csv('Assignment1.csv', index=False)

#### Description of attributes in the dataset.

1. Name: Name of the company.
2. rating: Rating of the company.
3. company_type: The type of service provided by the company.
4. Employee_count: Number of employees in the company.
5. ownership_status: Ownership_status of the company which would be private, public.
6. company_age: Age of the company.
7. head_quarters: Location of company headquarter.
8. reviews: The number of reviews about the company.
9. Salaries: The number of entries talking about the salary the company offers.
10. Interviews: The number of interviews conducted by the company.
11. Jobs: The number of job openings or positions available in the company.
12. Benefits: Number of entries talking about the benefits the company offers.

# ----------------------------------------------------------------------------------------

#### 2. Data Cleaning and Formating

In [ ]:
df = pd.read_csv("Dataset.csv")

In [ ]:
df.shape

In [ ]:
# Examine the tail of the dataset to find missing values
df.head()

In [ ]:
# Examine the overall dataset to find missing values
df.info()

In [ ]:
#count of missing values in the dataset
df.isna().sum()

The dataset indeed has a lot of missing values. The missing values have to be treated prior to analysis and Data Modelling. So let's examine each column/attribute of the dataset for finding and treating missing values.

#### i. Examine the attribute "company_type"

In [ ]:
df['company_type'].value_counts()

In [ ]:
# replacing all the NAN values with "other"
df['company_type'].fillna('Other', inplace = True)

In [ ]:
df['company_type'].isna().sum()

##### Observations:
The attribute 'company_type' has 90 unique values and 'other' is also one of the unique category present in this column. So, instead of removing all 445 rows we decided to replace all the 'NAN' values with "Other".

#### ii. Examine the attribute "Ownership_status"

In [ ]:
df['ownership_status'].isna().sum()

In [ ]:
len(df)

In [ ]:
#Percentage of missing values
(df['ownership_status'].isna().sum()/len(df))*100

In [ ]:
#drop the feature
df.drop(columns = ['ownership_status'], inplace = True)

##### Observations:
More than 70% of values have NAN values hence we decide to drop this feature.

#### iii. Examine the attribute "employee_count"

In [ ]:
#Examine employee_count column
df['employee_count'].unique()

In [ ]:
df['employee_count'].isna().sum()

In [ ]:
df.dropna(subset = ['employee_count'], inplace = True)

In [ ]:
df['employee_count'] = df['employee_count'].str.replace('Employees', '')
df.head(5)

##### Observations:
A total of 254 rows have missing values in them hence we decide to drop these rows and transform the data to make it suitable for our analysis.

#### iv. Examine the attribute  "company_age"

In [ ]:
# count of missing values
df['company_age'].isna().sum()

In [ ]:
#drop the missing values
df.dropna(subset = ['company_age'], inplace = True)

In [ ]:
# remove 'years old' from the data
df['company_age'] = df['company_age'].str.replace('years old', '')

In [ ]:
#converting the type to 'int'
df['company_age'] = df['company_age'].astype(int)

In [ ]:
df.head()

##### Observations:
A total of 532 rows have missing values hence we decide to drop these rows and transform the data to make it suitable for analysis.

#### v. Examine the column "head_quarters"

In [ ]:
# All the nan values have been filled with 'Unknown'
df['head_quarters'].fillna('Unknown', inplace = True)

In [ ]:
df['head_quarters'].isna().sum()

##### Observations: 
Instead of removing the missing values we simply filled the missing values with 'unknown'.

#### vi. Examine the columns "reviews", "salaries", "interviews", "jobs" and "benefits".

In [ ]:
df.tail()

It can be observed that few of the values in these columns have '--' values, it represents that the data for these records is missing. Instead of dropping these rows, we decide to replace '--' values with '0'.

In [ ]:
interviews_missing = (df['interviews'] == '--').sum()
jobs_missing = (df['jobs'] == '--').sum()
benefits_missing = (df['benefits'] == '--').sum()
print("missing values in the column interviews:" , interviews_missing)
print("missing values in the column jobs:", jobs_missing)
print("missing values in the column benefits:", benefits_missing)

In [ ]:
df[['interviews','jobs','benefits']] = df[['interviews','jobs','benefits']].replace({'--' : '0'})

It can be observed that the columns 'reviews', 'salaries', 'interviews', 'jobs' and 'benefits' are in incompatible format. The values in these columns are represented in form of decimal points followed by 'k', example: 734.8k. So, we decided to convert the data to numeric format.

In [ ]:
df.head()

In [ ]:
# Removing the string 'k' and mutipliying the number by 100 and converting the attribute to int type.
df[['reviews','salaries','interviews','jobs','benefits']] = df[['reviews','salaries','interviews','jobs','benefits']].applymap(lambda x: float(str(x).replace('k', '')) * 1000 if 'k' in str(x) else float(x))
df[['reviews','salaries','interviews','jobs','benefits']] = df[['reviews','salaries','interviews','jobs','benefits']].astype(int)
df.head()

In [ ]:
df.isna().sum()

No more missing values in the data

####  vii. Examine duplicate rows in the dataset.

In [ ]:
duplicates = df[df.duplicated(keep=False)]
duplicates

In [ ]:
# drop duplicate values
df = df.drop_duplicates()
df.shape[0]

##### Observations:
There are 565 duplicate rows in the dataset. Hence we remove the duplicate rows.

# ---------------------------------------------------------------------------------------------------------------

#### 3. Data visualization

In [ ]:
df.describe()

#### 3(i) Univariate analysis
This kind of analysis involves visualizing each attribute for its distribution. The attributes used for this analysis are 'company_age','reviews', 'rating', 'salaries', 'interviews', 'jobs' and 'benefits'. Histogram has plotted for all the features in order to understand the distribution and skewness.

In [ ]:
def plot_histogram(df, column):
    fig = plt.figure(figsize = (6,5))

    # Plot histogram
    plt.hist(df[column], bins = 20)

    # Set title and labels
    fig.suptitle(f"Histogram for {column}", fontweight ="bold", fontsize = 10, y = 0.92)
    plt.xlabel(column.capitalize())
    plt.ylabel("Frequency")


    # Calculate and display skewness
    skewness = df[column].skew()
    plt.figtext(0.40, 0.8, f'skewness: {skewness:.2f}', fontsize=12)

# Call the function for each column
for column in ['company_age','reviews', 'rating', 'salaries', 'interviews', 'jobs', 'benefits']:
    plot_histogram(df, column)

##### Observations:
Histograms have been plotted for all numeric columns of our dataset and based on the plots certain observations can be made:
1. 'company_age','reviews','salaries','interviews','jobs' and 'benefits columns are highly right skewed.
2. The column 'ratings' is slighly left skewed with skewness -0.64.

These attributes have undergo some sort of a transformation prior to our data analysis.

#### 3(ii) Bivariate Analysis

This kind of analysis involves analyzing two features at a time. Scatter plot has been plotted between numeric features to represent the relationship between them.

#### a) Ratings vs Reviews

In [ ]:
plt.scatter(df['rating'],df['reviews'])
plt.xlabel('Ratings')
plt.ylabel('Reviews')
plt.title('Scatter Plot for Ratings vs Reviews' ,fontweight ="bold", fontsize = 10)

In [ ]:
df[df['reviews'] >= 65000]

##### Observations:

It can be observed from the above scatter plot that the count of reviews is highest for the ratings ranging from 3.5 to 4.5. There is a data point for which has more than 65000 reviews. Upon investigation it was that the company "TCS" that had the highest number of reviews.

#### b) Salaries vs Reviews

In [ ]:
plt.scatter(df['salaries'],df['reviews'])
plt.xlabel('salaries')
plt.ylabel('Reviews')
plt.title('Scatter Plot for Salaries vs Reviews',fontweight ="bold", fontsize = 10)

In [ ]:
df[df['salaries'] >= 40000]

##### Observations:

From the plot it can be said that there is a positive linear relationship between "salaries" and 'reviews'. As the number of entries for salaries increase the count of reviews also increases. It be concluded that employees working in the top companies such as TCS, Accenture, Wipro and Infosys (to name a few) have listed out their salaries and hence have given the  most number of reviews.

#### c) Jobs vs Reviews.

In [ ]:
plt.scatter(df['jobs'],df['reviews'])
plt.xlabel('jobs')
plt.ylabel('Reviews')
plt.title('Scatter Plot for Jobs vs Reviews',fontweight ="bold", fontsize = 10)

In [ ]:
df[df['jobs'] >= 2000]

In [ ]:
filtered_df = df[(df['jobs'] <= 500) & (df['reviews'] > 50000)]
filtered_df

##### Observations:

The companies which higher number of job postings are Accenture followed by IBM, Randstad and Diverse Lynx. Similarly it can be observed that there is a company named 'TCS' which has lowest job postings but it has the highest reviews. Overall this plot also represents positive linear relationship.

#### d) company_age vs Reviews

In [ ]:
plt.scatter(df['company_age'],df['reviews'])
plt.xlabel('company age')
plt.ylabel('Reviews')
plt.title('Scatter Plot for company_age vs Reviews',fontweight ="bold", fontsize = 10)

In [ ]:
df[df['company_age'] >= 2000]

##### Observations:

There seems to be an outlier in this plot where a comapny has more than 2000 years of age. Upon investigation there are 8 such companies with wrong company_age. These fields have the year as value (2023) instead of age. so, hence we have decided to correct the age for these records.

In [ ]:
#Replace the value '2023' with '1'
df.loc[df['company_age'] == 2023, 'company_age'] = 1

# ---------------------------------------------------------------------------------------------------------------

#### 4(i):  Pandas Profiling on raw data

In [ ]:
from ydata_profiling import ProfileReport
df_1 = pd.read_csv("C:\\Users\\Faheem\\Downloads\\Assignment1.csv")
profile = ProfileReport(df_1, title="Profiling Report")

In [ ]:
profile

In [ ]:
profile.to_file("PandasProfilingOnRawData.html")

#### 4(ii) : Pandas profiling on Preprocessed data

In [ ]:
profile2 = ProfileReport(df, title="Profiling Report")
profile2

In [ ]:
profile2.to_file("PandasProfilingOnCleanedData.html")

# ---------------------------------------------------------------------------------------------------------------

#### 5. Data Encoding

For this step we encode one feature from our dataset: "employee_count"

#### 5(i) Perform Ordinal Encoding on "employee_count" column.

In [ ]:
df['employee_count'].unique()

In [ ]:
mapper = {'1 Lakh+ ' : 0,
          '50k-1 Lakh ' : 1,
          '10k-50k ' : 2,
          '5k-10k ': 3,
          '1k-5k ': 4,
          '501-1k ' : 5,
          '201-500 ': 6,
          '51-200 ': 7,
          '11-50 ': 8,
          '1-10 ': 9        
}

In [ ]:
df['employee_count'].replace(mapper, inplace = True)

In [ ]:
df.head(5)

In [ ]:
sns.countplot( x = 'employee_count', data = df)
plt.xticks(ticks=df['employee_count'].unique(), labels=['1 Lakh+', '50k-1 Lakh', '10k-50k', '5k-10k', '1k-5k', '501-1k', '201-500', '51-200', '11-50', '1-10'], rotation=45, ha='right')
plt.title("Frequency distribution of employee_count")
plt.show()

##### Observations:

'employee_count' column has been encoded to numeric values ranging from 0-9 and a count plot has been plotted and it can be observed from the plot that majority of the companies in the dataset have employee count between "1k- 5k" followed by "501-1k" and '51-200'. This indicates that most of the companies in our dataset are relatively smaller companies. On the other hand there are very few companies with employee count greater than 1 lakh.

# -----------------------------------------------------------------------------------------------------------------

#### 6. Outlier detection

Two approches have been used to find out outliers in the data.
1. Inter quartile range method
2. Box plot

In [ ]:
columns = ['rating','reviews','salaries','interviews','jobs','benefits','company_age']
summary_statistics = df[columns].describe()
summary_statistics

#### 6(i) Interquartile Range Method:
In this approach all the numeric columns such as 'rating', 'reviews', 'salaries', 'interviews', 'jobs', 'benefits' and 'company_age' have been used to extract the outliers.

In [ ]:
def find_outliers(df, columns):
    outlier_info = {}

    for column in columns:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - (1.5 * IQR)
        upper_bound = Q3 + (1.5 * IQR)
        outliers = (df[column] < lower_bound) | (df[column] > upper_bound)
        outlier_count = outliers.sum()

        outlier_info[column] = {
            'outlier_count': outlier_count,
            'IQR': IQR,
            'lower_bound': lower_bound,
            'upper_bound': upper_bound
        }

    return outlier_info

outlier_columns = ['rating', 'reviews', 'salaries', 'interviews', 'jobs', 'benefits','company_age']
outlier_info = find_outliers(df, outlier_columns)

for column, info in outlier_info.items():
    print(f"Column: {column}")
    print(f"Count of outliers: {info['outlier_count']}")
    print(f"IQR: {info['IQR']}")
    print(f"Lower Bound: {info['lower_bound']}")
    print(f"Upper Bound: {info['upper_bound']}\n")

#### 6(ii) Box plot method
All the outliers in the every respective numeric columns have been plotted with the help of box plot using the ploty library.

In [ ]:
# List of columns for which you want to create box plots
columns = ['rating','reviews','salaries','interviews','jobs','benefits','company_age']

# Loop through the columns and create a box plot for each one
for column in columns:
    fig = px.box(df, y=column)
    fig.update_layout(
        autosize=False,
        width=800,
        height=600,
        title='Box plot of ' + column,
        xaxis_title= column,
        yaxis_title='Frequency'
    )


    # Show the plot
    fig.show()

##### Observations:
Both the approches show us that the data indeed has many outliers.
The value which resides below the lower bound and the values that resides above the upper bound are considered to be outliers.
Based on the calculations made by the Inter quartile range method and box plot method the number of outliers in each column is:
1. Ratings: 131
2. Reviews: 1049
3. Salaries: 1038
4. Interviews: 1053
5. jobs: 1054
6. Benefits : 1020
7. company_age : 648


The data is heavily skewed as a result the whiskers look very small and almost invisible. The outliers present in the data needs to be addressed using suitable techniques.

# -----------------------------------------------------------------------------------------------------------------

#### 7. Handling Outliers:
1. Quantile-based Flooring and Capping
2. Trimming
3. Log Transformation

#### i. Quantile based flooring and capping

In [ ]:
# make a copy of the dataset and perform transformations on the copied version of the dataset.
df2 = df.copy()
df2.head(5)

In [ ]:
# columns that need to be transformed
columns = ['rating','reviews','salaries','interviews','jobs','benefits','company_age']

def floorCap(df2, columns):
    #loop throught the columns 
    for column in columns:
        #set a floor and cap value
        floor = df2[column].quantile(0.10)
        cap = df2[column].quantile(0.85)
        #values which are less than floor and cap value are replaced with the floor and cap values.
        df2[column] = np.where(df2[column]< floor, floor, df2[column])
        df2[column] = np.where(df2[column]> cap, cap, df2[column])
        
floorCap(df2, columns)
print("shape of the dataset after flooring and capping :", df2.shape)

In [ ]:
# List of columns to create box plots
columns = ['rating','reviews','salaries','interviews','jobs','benefits','company_age']

# Loop through the columns and create a box plot for each one
for column in columns:
    fig = px.box(df2, y=column)
    fig.update_layout(
        autosize=False,
        width=800,
        height=600,
        title='Box plot of ' + column,
        xaxis_title= column,
        yaxis_title='Frequency'
    )


    # Show the plot
    fig.show()

In [ ]:
def plot_histogram(df2, column):
    fig = plt.figure(figsize = (6,5))

    # Plot histogram
    plt.hist(df2[column], bins = 20)

    # Set title and labels
    fig.suptitle(f"Histogram for {column}", fontweight ="bold", fontsize = 10, y = 0.92)
    plt.xlabel(column.capitalize())
    plt.ylabel("Frequency")


    # Calculate and display skewness
    skewness = df2[column].skew()
    plt.figtext(0.65, 0.8, f'skewness: {skewness:.2f}', fontsize=12)

# Call the function for each column
for column in ['company_age','reviews', 'salaries', 'interviews', 'jobs', 'benefits']:
    plot_histogram(df2, column)

##### Observations:

1. In this approach all the values which are below and above the lower bound and upper bound respectively are replaced with a "floor and a cap" value. After a lot of trial and error the optimal floor value was found to be be 0.10 quantile, and the cap value was found to be 0.85 quantile.
2. Box plots for each numeric attributes have been plotted and it can be observed that all the outliers have been significantly replaced with the floor and cap value. The whsikers are also clearly presented unlike for the other plot where the outliers were not handled and as a result the whiskers were compressed.

#### ii. Trimming:
In this approch we remove all the values which are less than the lower bound and remove all the values greater than the upper bound.

In [ ]:
# make a copy of the dataset and perform transformations on the copied version of the dataset.
df3 = df.copy()

def trim(df3, columns):
# Loop through the columns
    for column in columns:
        Q1 = df3[column].quantile(0.25)
        Q3 = df3[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - (1.5 * IQR)
        upper_bound = Q3 + (1.5 * IQR)
        index = df3[(df3[column] < lower_bound) | (df3[column] > upper_bound)].index
        # drop the values which are less than the lower bound and values which are greater than the upper bound.
        df3.drop(index, inplace = True) 

# columns that need to be transformed
columns = ['rating','reviews','salaries','interviews','jobs','benefits','company_age']
trim(df3, columns)

In [ ]:
print("Shape of dataset after trimming: ",df3.shape)

In [ ]:
# List of columns to create box plots
columns = ['rating','reviews','salaries','interviews','jobs','benefits','company_age']

# Loop through the columns and create a box plot for each one
for column in columns:
    fig = px.box(df3, y=column)
    fig.update_layout(
        autosize=False,
        width=800,
        height=600,
        title='Box plot of ' + column,
        xaxis_title= column,
        yaxis_title='Frequency'
    )


    # Show the plot
    fig.show()

In [ ]:
def plot_histogram(df3, column):
    fig = plt.figure(figsize = (6,5))

    # Plot histogram
    plt.hist(df3[column], bins = 20)

    # Set title and labels
    fig.suptitle(f"Histogram for {column}", fontweight ="bold", fontsize = 10, y = 0.92)
    plt.xlabel(column.capitalize())
    plt.ylabel("Frequency")


    # Calculate and display skewness
    skewness = df3[column].skew()
    plt.figtext(0.65, 0.8, f'skewness: {skewness:.2f}', fontsize=12)

# Call the function for each column
for column in ['company_age','reviews', 'salaries', 'interviews', 'jobs', 'benefits']:
    plot_histogram(df3, column)

##### Observations:

Trimming is the easiest and the most simplest way to remove outliers from the data but, the size of the dataset gets reduced as a result of trimming. Prior to trimming the dataset had 8500 instances after trimming the size of the dataset got reduced to 5145 instances. Even though this approach is easy we might ultimately loose important information as a result of trimming.

#### iii. Log Transformation:

In [ ]:
# columns which need to be transformed
columns = ['reviews', 'salaries', 'interviews', 'jobs', 'benefits', 'company_age']

def log_trans(df, columns):
    #loop throught the function to access each column
    for column in columns:
        # use map and lambda to apply log function to the values
        df[column] = df[column].map(lambda i: np.log(i) if i > 0 else 0)

    return df

df = log_trans(df, columns)
print('shape of dataset: ', df.shape)

In [ ]:
# List of columns to create box plots
columns = ['reviews','salaries','interviews','jobs','benefits','company_age']

# Loop through the columns and create a box plot for each one
for column in columns:
    fig = px.box(df, y=column)
    fig.update_layout(
        autosize=False,
        width=800,
        height=600,
        title='Box plot of ' + column,
        xaxis_title= column,
        yaxis_title='Frequency'
    )


    # Show the plot
    fig.show()

In [ ]:
def plot_histogram(df, column):
    fig = plt.figure(figsize = (6,5))

    # Plot histogram
    plt.hist(df[column], bins = 20)

    # Set title and labels
    fig.suptitle(f"Histogram for {column}", fontweight ="bold", fontsize = 10, y = 0.92)
    plt.xlabel(column.capitalize())
    plt.ylabel("Frequency")


    # Calculate and display skewness
    skewness = df[column].skew()
    plt.figtext(0.65, 0.8, f'skewness: {skewness:.2f}', fontsize=12)

# Call the function for each column
for column in ['company_age','reviews', 'salaries', 'interviews', 'jobs', 'benefits']:
    plot_histogram(df, column)

##### Observations:
1. Log Transformation has been applied to all the numeric columns except for 'Ratings'. 'Ratings' are normally distributed and hence they do not require any additional transformation.
2. Prior to logarithmic transformation the data was heavily right skewed (for example: the attribute 'salaries' had a skewness score of "30.4" prior to transformation and the score obtained after log operation is "0.80"). The data looks fairly distributed after logarithmic transformation. I see that the data is slightly skewed. But overall, it was a drastic change.

#### Outcome of all the outlier treatment methods and which method is the best method!!??

The three methods discussed above have successfully removed outliers but the outcomes of the three approches were different.
1. The first approach flooring and capping is a decent method where in all the value below and upper the lower bound are replaced with floor and cap value. Though the shape of the dataset remains same, there is a lot trail and error involved in order to find the best floor and cap value. And replacing the extreme values with predefined value might be not beneficial as it will lead to loss of information, especially if the outliers have genuine values.
2. The trimming method is the most easiest method to handle outliers in which you tend to remove all the values which are below and above the upper bound. This method reduces the size of the dataset and hence there is a loss of information. This is not the most suitable approch when handling outliers because we might end up loosing valuable information through which insights could have been generated.
3. Logarithmic transformation is the most suitable to handle outliers and skewed data. This methods involves applying log -base 10 to every data point as a result of this operation the extreme values are reduced, and the differences among smaller values become more apparent. It also removes the skewness present in the data and makes the data look normally distributed. This is the most widely used approach to treat outliers because we do not loose upon the important information.

# ---------------------------------------------------------------------------------------------------------------

#### 8. Cluster Analysis:

In this step we cluster all the numeric attributes present in the dataset such as ['ratings', 'reviews','jobs','salaries','interviews','Benefits' and 'company_age'.]. Clustering these features can give insights about high performing vs low performing companies.

#### 8(i): K-Means Clustering:


Things which need to be performed are:
1. Distance based algorithms are sensitive to scales as a result, scaling the data becomes important in order to bring all the numeric features to the same scale.
2. Since we are using 7 features for clustering, We perform PCA on the data to reduce the dimensions of the dataset to '2'. so that it becomes easy for us to visualize.
3. Since k-means requires us to provide number of clusters before hand, We find optimal number of clusters using elbow method.
4. And then we fit our scaled data using k-Means algorithm and visualize the results.

In [ ]:
df.head()

In [ ]:
# All the numeric columns will be used for clustering
columns = ['rating','reviews','jobs','salaries','company_age']
# all the columns in the dataframe will be treated as integers.
numeric_columns = df[columns].apply(pd.to_numeric, errors='coerce')
#Scale the data prior to clustering
scaler = StandardScaler()
X_scaled = scaler.fit_transform(numeric_columns)

In [ ]:
# Perform pca to narrow down the dimensions 
pca = PCA(n_components=2)
X_pca = pca.fit_transform(X_scaled)

In [ ]:
# Print the principal components
principal_components = pca.components_
print("Principal Components:", principal_components)

In [ ]:
# put the principal components into a data frame.
components_df = pd.DataFrame(principal_components, columns=numeric_columns.columns)
# Print the DataFrame
print("Principal Components DataFrame:")
components_df

##### Elbow method- to find optimal number of clusters.

In [ ]:
inertia = []
# Iterate over the range of clusters
for k in range(1, 11):
    kmeans = KMeans(n_clusters=k, random_state=42)
    # fit the model
    kmeans.fit(X_scaled)
    # find and append sum of squared differences between each datapoint and its associated cluster.
    inertia.append(kmeans.inertia_)

# Plot the curve
plt.figure(figsize=(8, 6))
plt.plot(range(1, 11), inertia, marker='o')
plt.title('Elbow Method for Optimal Number of Clusters')
plt.xlabel('Number of Clusters (k)')
plt.ylabel('Inertia')
plt.show()

Looking at the plot it can be observed that there is a steep decrease after the cluster and hence we conclude that the optimal number of clusters required are '2'.

In [ ]:
# fit k-means clustering 
kmeans = KMeans(n_clusters=2, random_state=42)
# put the results of clustering into the dataframe
df['cluster'] = kmeans.fit_predict(X_pca)

In [ ]:
#get the centroids
centroids = kmeans.cluster_centers_

In [ ]:
# plot the results
plt.figure(figsize=(10, 8))
#plot the scatter plot
sns.scatterplot(x=X_pca[:, 0], y=X_pca[:, 1], hue=df['cluster'], palette='viridis', s=50)
# plot the centroids
plt.scatter(centroids[:, 0], centroids[:, 1], c='red', marker='X', s=200, label='Centroids')
plt.title('K- Means Cluster Visualization')
plt.xlabel('Principal Component 1')
plt.ylabel('Principal Component 2')
plt.legend()
plt.show()

#### Observations:
1. The K-Means algorithm has successfully clustered data into 2 clusters.
2. Few of the data points for the cluster '0' are far from its respective centroid.
3. It can inferred that the cluster 0 has higher values are associated with higher values of reviews, salaries, jobs and company_age and a lower value of ratings.
4. And the the cluster 1 has higher values associated with lower values of reviews, salaries and company_age and a higher value of jobs.

#### 8(ii). Agglomerative Clustering 

This is a hierarchial clustering method which starts with one data point and each stage it merges the closest pair of clusters. The process is repaeted till one single cluster is formed.

Steps involved are:
1. Scale the data prior to clustering.
2. Plot a dendogram to look at how clusters are merged. We use linkage method in order to see how the distance between the clusters is calculated. And the parameter we pass in the linkage method is 'ward'. This parameter finds the sum of squared difference between each point in the cluster and the mean of that cluster and then it performs merge operation. 
3. The optimal "k" value can found by looking at the dendogram. The highest vertical line which does not intersect with any cluster is said to be the optimal "k" value.
4. we then fit the model using the optimal "k" value and visualize the results.

In [ ]:
# find optimal number of clusters by plotting a dendogram
linkage_matrix = linkage(X_scaled, method='ward')
dendrogram(linkage_matrix)
plt.show()

The data can be clustered into 2 clusters.

In [ ]:
# fit Agglomerative clustering and predicting results on scaled data
agglomerative_clustering = AgglomerativeClustering(n_clusters=2)
df['A_cluster'] = agglomerative_clustering.fit_predict(X_scaled)

# Visualize the clusters using a scatter plot
plt.figure(figsize=(10, 8))
sns.scatterplot(x=X_pca[:, 0], y=X_pca[:, 1], hue=df['A_cluster'], palette='viridis', s=50)
plt.title('Agglomerative Hierarchical Clustering Result')
plt.xlabel('Principal Component 1')
plt.ylabel('Principal Component 2')
plt.legend()
plt.show()

#### Observations:
1. The data has been clustered successfully into 2 clusters.
2. The clustering seems to be more precise as compared with K-means.
3. As mentioned previously the plot shows that cluster 0 has higher values are associated with higher values of reviews, salaries, jobs and company_age and a lower value of ratings.
4. And the the cluster 1 has higher values associated with lower values of reviews, salaries and company_age and a higher value of jobs.

#### References

1. Keita, Z. (2023, January 19). An introduction to hierarchical clustering in Python. DataCamp. https://www.datacamp.com/tutorial/introduction-hierarchical-clustering-python

2. Sharma, P. (2023, October 23). What is Hierarchical Clustering in Python? Analytics Vidhya.
https://www.analyticsvidhya.com/blog/2019/05/beginners-guide-hierarchical-clustering/

3. Kaloyanova, E. (2021, July 29). How to combine PCA and K-Means clustering in Python? 365 Data Science.https://365datascience.com/tutorials/python-tutorials/pca-k-means/